

.navbar{
  background-color: #fde1cb ;
  font-family: 'Italiano';
}
.text .sale{
  font-family: 'Italiano';
  text-shadow: 0 0 4px rgb(228, 228, 228);
  transition: all 0.5s;
  display: flex;
  margin-left: 100px;
}
.text .sale:hover{
  transform: scale(1.1);
}
.text .sale .button {
  background-color: #ffffff;
  border: none;
  color:rgb(255, 125, 125);
  text-align: center; 
  text-decoration: none;
  display: block;
  font-size: 4vw;
  font-weight: 500;
  padding: 8px 35px;
  text-shadow:0 0 3px rgb(255, 125, 125); 
  cursor: pointer;
  font-family: 'Italiano';
  opacity:0.9;
  border-radius: 6px;
}
.text .sale .button:hover{
  opacity:1;
}
.img {
  background-image: url("../public/images/bgtop.jpg"); 
  background-size: cover;
 
}
.img2 {
  background-image: url("../public/images/bgbottom.jpg"); 
  background-size: cover;
 
}
.text{
  /* background-image: url("./images/bgtop.jpg");  */
  /* background-repeat: no-repeat; 
  background-position:initial ;
  background-attachment:fixed;
  background-clip: text;
  background-size: 100%; */
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  font-size: 4vw ;
  background-color: rgb(251, 234, 234);
 

}
.text h1{
  margin-top: 30px;
  font-size: 8vw;

}
.text-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-center .rounded{
  transition: all 1s;
}

.text-center .rounded:hover{
  transform: scale(1.1);
}

.new{
  /* background-image: url(../public/images/bgbottom.jpg);
  background-repeat: no-repeat; 
  background-position:initial ;
  background-attachment:fixed;
  background-clip: text;
  background-size: 100%; */
  height: 500px;
  display:flex;
  font-size: 4vw;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: rgb(251, 234, 234);
  
}
.arrival h1{
  margin-top: 80px;
}
.arrival{
  font-size: 4vw;
  display: flex;
  flex-wrap: wrap;
}
.new .arrival .button{
  background-color: #ffffff;
  margin-top: 20px;
  border: none;
  color:rgb(255, 125, 125);
  text-decoration: none;
  display: block;
  font-size: 4vw;
  font-weight: 500;
  padding: 8px 35px;
  text-shadow:0 0 3px rgb(255, 125, 125); 
  cursor: pointer;
  font-family: 'Italiano';
  opacity:0.9;
  border-radius: 6px;
}
.new .arrival .button:hover{
  opacity:1;
}
.new .arrival{
  font-size: 4vw;
  font-family: 'Italiano';
  text-shadow: 0 0 4px rgb(0, 0, 0);
  transition: all 1s;
  display: flex;
  margin-right: 150px;

}
.new .arrival:hover{
  transform: scale(1.1);
}
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Italiano';
  box-sizing: border-box;
  min-height: 100vh;


}
.head h1{
  text-align: center;
  font-size: 40px;
  margin-top: 60px;
  margin-left: 150px;
  margin-right: 150px;
  border-bottom:  2px solid rgb(146, 146, 146);
  font-family: 'Italiano';  
}
.products .one{
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;

}
.products .one figure{
  border: 5px solid rgb(255, 254, 254);
  box-shadow: 6px 6px 6px -6px rgba(0,0,0,.2);
  background-color: #fde1cb;
  padding:30px 30px;
  transition: all 1s;
  cursor: pointer;
  overflow: hidden;
}

.products .one figcaption{
  font-size: 32px;
  text-align: center;
  font-weight: 700;
  text-shadow: 0 0 0 3px black;
  
}
.products .one figure:hover{
  transform: scale(1.1);
}
.products .one .image img{

  object-fit: cover;
}


.all{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.all .button{
  background-color: #f7a7a7;
  margin-top: 20px;
  border: none;
  color:white;
  
  text-decoration: none;
  display: block;
  font-size: 3vw;
  font-weight: 500;
  padding: 8px 35px;
  text-shadow:0 0 5px #f8afaf; 
  cursor: pointer;
  font-family: 'Italiano';
  opacity:0.7;
  border-radius: 6px;
  transition: all 0.7s;
  transition-timing-function: ease-in-out;
}
.all .button:hover{
  opacity:1;
transform: scale(1.1);

}

.products .popup-image{
  position: fixed;
  top:0; left: 0;
  background: rgb(0, 0, 0,.9);
  height: 100%;
  width:100%;
  z-index: 100;
  display: none;
}
.products .popup-image span{
  position: absolute;
  top:0; left: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}
.products .popup-image img{
position: absolute;
top:50%;left:50%;
transform: translate(-50%, -50%);
border: 5px solid #fff;
border-radius: 5px;
width: 350px;
object-fit: cover;
}